* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 8px;
}

main {
  height: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}

.editor-container {
  display: flex;
  flex-direction: column;
  position: relative;
  .target-text {
    position: absolute;
    right: 2px;
    top: 2px;
  }
  textarea {
    max-width: 100%;
    background-color: white;
    color: black;
    outline: none;
    border: 1px solid black;
    height: 100%;
  }
}

.flash-editor {
  background-color: white;
  color: black;
  animation: flash 0.5s ease-out;
}

@keyframes flash {
  0% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}
