/* if you edit this file, you might need to bump up the version number in index.html to make sure it refreshes in people's browsers */

* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 4px;
}

main {
  height: 100%;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}

section {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 4px;
}

textarea {
  background-color: transparent;
  height: 100%;
}

.flash-editor {
  background-color: transparent;
  color: black;
  animation: flash 0.5s ease-out;
}

@keyframes flash {
  0% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: transparent;
    color: black;
  }
}
